[submodule "tic-tac-toe"]
	path = tic-tac-toe
	url = https://github.com/mackenziequinnjetton/tic-tac-toe
[submodule "vanilla-tilt-toy-app"]
	path = vanilla-tilt-toy-app
	url = https://github.com/mackenziequinnjetton/vanilla-tilt-toy-app.git
[submodule "fetching-pokemon"]
	path = fetching-pokemon
	url = https://github.com/mackenziequinnjetton/fetching-pokemon
